# List

In [1]:
# 1,method 
list1=[]

In [2]:
print(list1)

[]

In [4]:
# 2method
l = list()

In [5]:
print(l)

[]

In [6]:
list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [9]:
list1=['python','dseu',1,2,3,4,5]
print(list1)

['python', 'dseu', 1, 2, 3, 4, 5]

# HOW TO ACCESS AN ELEMENT IN LIST

In [10]:
LIST1[1]

NameError: name 'LIST1' is not defined

In [12]:
list1[1]

'dseu'

In [13]:
list1[-1]

5

In [14]:
len(list1)

7

In [15]:
list2=[1,2,3,4,5,6,7,8,9,10,11,'String','Python','Program','DSEU','Virat','Dhoni',4.65,8.9,True,False,100]
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'String', 'Python', 'Program', 'DSEU', 'Virat', 'Dhoni', 4.65, 8.9, True, False, 100]

Slice the crickters name from the list

syntax : variable_name=[start_value:end_value]

In [17]:
list2[15:17]

['Virat', 'Dhoni']

In [18]:
print(list2[::-1])

[100, False, True, 8.9, 4.65, 'Dhoni', 'Virat', 'DSEU', 'Program', 'Python', 'String', 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
print(list2[:],end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'String', 'Python', 'Program', 'DSEU', 'Virat', 'Dhoni', 4.65, 8.9, True, False, 100]

Identify the string is palindrome or not with the help of slicing?

In [ ]:
str1=input("enter the string : ")
if str1[:]==str1[::1]
    print('Palinfrome')
else
    print('Not palindrome')

# OPERATORS

In [1]:
#1 ADDITION

a=int(input('enter the number 1 : '))
b=int(input('enter the number 1 : '))
c=a+b
print('The sum of {} and {} is {}'.format(a,b,c))
print(f'The sum of {a} & {b} is {c}')

enter the number 1 : 2
enter the number 1 : 3
The sum of 2 and 3 is 5
The sum of 2 & 3 is 5

In [3]:
#2 Subtraction

a=int(input('enter the number 1 : '))
b=int(input('enter the number 1 : '))
c=a-b
print('The difference of {} and {} is {}'.format(a,b,c))
print(f'The difference of {a} & {b} is {c}')

enter the number 1 : 4
enter the number 1 : 5
The difference of 4 and 5 is -1
The difference of 4 & 5 is -1

In [7]:
#3 Multiplication

a=int(input('enter the number 1 : '))
b=int(input('enter the number 1 : '))
c=a*b
print('The multiplication of {} and {} is {}'.format(a,b,c))
print(f'The multiplication of {a} & {b} is {c}')

enter the number 1 : 4
enter the number 1 : 5
The multiplication of 4 and 5 is 20
The multiplication of 4 & 5 is 20

In [9]:
#4 Division(/ - integer)

a=int(input('enter the number 1 : '))
b=int(input('enter the number 1 : '))
c=a/b
print('The division of {} and {} is {}'.format(a,b,c))
print(f'The division of {a} & {b} is {c}')

enter the number 1 : 10
enter the number 1 : 2
The division of 10 and 2 is 5.0
The division of 10 & 2 is 5.0

In [11]:
#4 Floor Division(% - integer)

a=int(input('enter the number 1 : '))
b=int(input('enter the number 1 : '))
c=a%b
print('The floor division of {} and {} is {}'.format(a,b,c))
print(f'The floor division of {a} & {b} is {c}')

enter the number 1 : 9
enter the number 1 : 2
The floor division of 9 and 2 is 1
The floor division of 9 & 2 is 1

In [23]:
## Example of concatenation on string

a = 'Yukti'
b = ' Saini'
c = a + b

print( c )
len(c)

Yukti Saini

11

In [19]:
## Repeation

list4 = [1,2,3]
list5 = list4*3
print(list5)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
a = ' Yukti'
b = a*2
print(b)
len(b)

 Yukti Yukti

12

# UPDATE THE VALUE IN THE LIST

In [24]:
str1 = 'Python'
str1[0]='p'

TypeError: 'str' object does not support item assignment

In [26]:
# proof list is a mutable datatype
list6=[1,2,3,4,5,6,7,8,9,10,11,'String','Python','Program','DSEU','Virat','Dhoni',4.65,8.9,True,False,100]
print(list6)
list6[-5]='Sachin'
print(list6)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'String', 'Python', 'Program', 'DSEU', 'Virat', 'Dhoni', 4.65, 8.9, True, False, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'String', 'Python', 'Program', 'DSEU', 'Virat', 'Dhoni', 'Sachin', 8.9, True, False, 100]

# TUPLES

In [27]:
## 1st method

tup1 = ()
print(tup1)

()

In [28]:
## 2 method
tup2 = tuple()
print(tup2)

()

In [29]:
type(tup2)

tuple

In [30]:
tup3 = (1,2,3,4,'apple','mango','dhoni','Yukti',4.5)
print(tup3)

(1, 2, 3, 4, 'apple', 'mango', 'dhoni', 'Yukti', 4.5)

In [31]:
tup3[3]

4

In [32]:
tup3[2:6]

(3, 4, 'apple', 'mango')

# HOW TO CHANGE VALUE IN TUPLE

In [33]:
TUP3[5]='banana'

NameError: name 'TUP3' is not defined

In [34]:
len(tup3)

9

In [36]:
tup1 = (1,2,3,4,5,6)
max(tup1)

6

In [37]:
tup1 = (1,2,3,4,5,6)
min(tup1)

1

In [38]:
tup1 = (1,2,3,4,5,6)
sum(tup1)

21

# DICTIONARY

In [3]:
dict1 = {}
print(dict1)

{}

In [4]:
type(dict1)

dict

In [6]:
## 2 method
dict2 = dict()
print(dict2)
type(dict2)

{}

dict

# How to create a dictionary with elements

In [7]:
## in gthis dictionary, each element has its sq values
dict1 = {1:1,2:4,3:9}
dict1[0]

KeyError: 0

In [8]:
print(dict1)

{1: 1, 2: 4, 3: 9}

In [9]:
len(dict1)

3

In [10]:
dict1[4]

KeyError: 4

In [13]:
dict1[3]

9

In [14]:
dict2 = {1:1,2:4,3:9,3:37}
dict2[3]

37

In [15]:
## entering the elements in empty dictionary
day = {}
#day = {1:'monday',2:'tuesday',3:'wednesday'}

In [16]:
day[1]='monday'
day[2]='tueday'
day[3]='wednesday'
day[4]='thrusday'
day[5]='friday'

In [17]:
print(day)

{1: 'monday', 2: 'tueday', 3: 'wednesday', 4: 'thrusday', 5: 'friday'}

In [20]:
## dictionary in unordered sequence data type
day[6]='saturday'
print(day)

{1: 'monday', 2: 'tueday', 3: 'wednesday', 4: 'thrusday', 5: 'saturday', 6: 'saturday'}

# UPDATING THE VALUE IN DICTIONARY

In [21]:
dict1 = {'name':'virat','age':34,'runs':[82,62,50,12]}
print(dict1)

{'name': 'virat', 'age': 34, 'runs': [82, 62, 50, 12]}

In [23]:
print(dict1['runs'])
print(dict1['runs'][1])

[82, 62, 50, 12]
62

In [25]:
dict2 = {[1,2]:100}
print(dict2[[1,2]])

TypeError: unhashable type: 'list'

# METHODS IN DICTIONARY

In [26]:
#1 clear()
dict1 = {'Name':'virat','age':34,'runs':[82,62,50,12],'venue':'australia','worldcup':'t20'}
print('before update'

SyntaxError: unexpected EOF while parsing (188503802.py, line 4)

In [27]:
#2 copy()
dict1 = {'Name':'virat','age':34,'runs':[82,62,50,12],'venue':'australia','worldcup':'t20'}
dict2 = dict1.copy()
print('dict2',dict2)

dict2 {'Name': 'virat', 'age': 34, 'runs': [82, 62, 50, 12], 'venue': 'australia', 'worldcup': 't20'}

In [32]:
#3 get()
dict1 = {'Name':'virat','age':34,'runs':[82,62,50,12],'venue':'australia','worldcup':'t20'}
print(dict1.get('Name'))
print(dict1.get('Name'))
print(dict1.get())

virat
virat

TypeError: get expected at least 1 argument, got 0

In [33]:
#4. items()
dict1 = {'Name':'virat','age':34,'runs':[82,62,50,12],'venue':'australia','worldcup':'t20'}

print(dict1)
dict2 = dict1.items()
print(dict2)

{'Name': 'virat', 'age': 34, 'runs': [82, 62, 50, 12], 'venue': 'australia', 'worldcup': 't20'}
dict_items([('Name', 'virat'), ('age', 34), ('runs', [82, 62, 50, 12]), ('venue', 'australia'), ('worldcup', 't20')])

In [34]:
type(dict2)

dict_items

In [35]:
#5. keys()
dict1 = {'Name':'virat','age':34,'runs':[82,62,50,12],'venue':'australia','worldcup':'t20'}
print(dict1.keys())

dict_keys(['Name', 'age', 'runs', 'venue', 'worldcup'])

In [36]:
#6. values()
dict1 = {'Name':'virat','age':34,'runs':[82,62,50,12],'venue':'australia','worldcup':'t20'}
print(dict1.values())

dict_values(['virat', 34, [82, 62, 50, 12], 'australia', 't20'])

In [37]:
#7. update()
dict3={1:1,2:4,3:9}
dict4={4:16,5:25,6:36,7:49}

dict3.update(dict4)
print(dict3)
print(dict4)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{4: 16, 5: 25, 6: 36, 7: 49}

# PYTHON LOOPS

#

In [40]:
#while test_expressions:
    #body/statements

In [42]:
# eg1
# initialize counter

i=1
while i <=10: 
    #i = i+1
    i+=1 
    print(i,end=" ")
print('Exit from loop')

2 3 4 5 6 7 8 9 10 11 Exit from loop

In [43]:
counter = 0
while counter < 3:
    print('inside loop')
    #counter = counter+1
    counter+=1
else:
    print('inside else')

inside loop
inside loop
inside loop
inside else

In [45]:
counter = 0
while counter < 3:
    if counter == 1:
        break
    print('inside loop')
    #counter = counter+1
    counter+=1
else:
    print('inside else')

inside loop